* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

input {
  padding: 20px 550px 20px 15px;
  margin: 30px 0;
  color: #dfdfdf;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
}

::placeholder {
  color: #a0a0a0;
}

.container {
  text-align: center;
}

.gallery {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  justify-items: center;
}

img {
  width: 100%;
}
